html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 345px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

.overlay {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  background: #ffffff;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  align-items: center;
  border-radius: 15px;
  box-shadow: 10px 10px 10px 0 rgba(0, 0, 0, 0.35);
}

.overlay:target{
  visibility: visible;
  opacity: 1;
}

.popup {
  border-radius: 15px;
  background: #ffffff;
  position: relative;
  transition: all 5s ease-in-out;
  font-family: arial;
  align-items: center;
  vertical-align: middle;
  display: flex;
  flex-direction: column;
  padding-top: 12%;
  padding-bottom: 12%;
}

.header {
  align-items: center;
  font-family: arial;
  font-size: 30px;
  font-weight: bold;
  -webkit-margin-before: 0;
}

.popup .final-rating,
.message {
  max-height: 30%;
  overflow: auto;
  text-align: center;
}

.final-move, .total-time {
  color: #02ccba;
}

.show {
  visibility: visible !important;
  opacity: 1 !important;
}

#star-rating li {
  display: inline-block;
  font-size: 40px;
  color: #aa7ecd;
}

.play-again {
  background-color: #02ccba;
  font-size: 14px;
  display: block;
  margin: 0 auto;
  width: 30%;
  font-family: Arial;
  color: black;
  border-radius: 5px;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: bold;
  box-shadow: 3px 3px 3px 0px rgba(46, 61, 73, 0.5);
  border-color: #02ccba;
}
